* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    margin: 100px auto;
    padding: 0 20px;
    text-align: center;
}

.section-header {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.address-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px auto;
    width: 680px;
}

.section-item {
    font-size: 16px;

}

.address-form__input {
    width: 680px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.address-form__error-message {
    color: #ff5555;
}

.address-form__btn {
    width: 680px;
    height: 50px;
    border: none;
    color: white;
    background-color: #ff5555;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.address-form__btn:hover {
    box-shadow: none;
    position: relative;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .container {
        max-width: 700px;
        padding: 0 30px;
    }

    .section-title {
        font-size: 28px;
        text-align: center;
    }

    .address-form__input {
        font-size: 18px;
        padding: 14px;
    }
}

