.item-detail-container {
    display: flex;
    gap: 40px;
    margin: 40px auto;
    max-width: 1000px;
}

.item-image img {
    width: 300x;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 50px;
}

.item-info {
    flex: 1;

}

.item-name {
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    color: #333;
}

.item-interactions {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 8px;
}

.favorite-form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5px; 
}

.comment-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    padding-top:6px;
}

.comment-wrapper i.fa-comment {
    font-size: 30px;
    color: #555;
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
}

.like-btn i.fa-solid.fa-star {
    color: #ff5a5f;
}

.like-count,
.comment-count {
    font-size: 14px;
    color: #555;
}

.buy-btn {
    display: inline-block;
    text-align: center;
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    width: 450px;
    height: 40px;
    text-decoration: none;
}

.description,
.item-meta {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tag {
    background: #eee;
    padding: 4px 10px;
    border-radius: 10px;
    margin-right: 5px;
}

.comments {
    margin-top: 30px;
}

.comment {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.comment-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-user-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    /* 灰色 */
}

.comment-form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 450px;   
    height: 200px;  
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-form__error-message{
    color: #ff5555;
}

.comment-btn {
    align-self: flex-end;
    background-color: #ff5a5f;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 450px;
    height: 40px;
    margin-top: 30px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .item-image {
        min-width: 430px;
    }

    .item-info {
        min-width: 400px;
    }
}