.purchase-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 80px auto;
    max-width: 1000px;
}

.item-summary {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.item-img {
    width: 180px;
    height: 180px;
    background: #eee;
    object-fit: cover;
    margin-right: 30px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
}

.price{
    font-size: 24px;
    margin-top: 10px;
}

.payment-section {
    margin-top: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 50px;

}

.payment-section h3{
    margin-left: 30px;
}

.payment-section select{
    margin-left: 100px;
    margin-top: 30px;
    width: 250px;
    height: 30px;
}

.address-section {
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding: 20px 0;
    position: relative;
    padding-bottom: 30px;
}

.address-section{
    padding-left: 30px;
}
.address-section p{
    margin-left: 70px;
    margin-top: 30px;
}

.address-section .change-address {
    position: absolute;
    right: 0;
    top: 20px;
    border:none;
}

.purchase-right {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-box {
    width: 100%;
    border: 1px solid #333;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.summary-box p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0;
    font-size: 20px;
    padding: 30px;
}

.summary-box p+p {
    border-top: 1px solid black;
    padding: 30px;
}

.purchase-btn {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 12px 0;
    margin-top: 70px;
    border-radius: 4px;
    cursor: pointer;
    width: 350px;
    font-size: 16px;
}

.purchase-left {
    flex: 1;
}

.purchase-right {
    width: 350px;
}

.error-message{
    color: #ff5555;
    padding-left: 100px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .purchase-container {
        max-width: 1300px;
        gap: 30px;
    }

    .purchase-left {
        min-width: 550px;
    }

    .purchase-right {
        min-width: 330px;
    }
}