.sell-container {
    width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
}

.sell-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.form-section {
    margin-bottom: 40px;
}

.form-section h2 {
    border-bottom: 1px solid #5F5F5F;
    margin-bottom: 30px;
    font-size: 20px;
    color: #5F5F5F;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.image-upload-box {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
}

.upload-label {
    background-color: #fff;
    color: #ff5a5f;
    border: 1px solid #ff5a5f;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.category-item span {
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid #ff5a5f;
    border-radius: 20px;
    color: #ff5a5f;
    cursor: pointer;
    transition: all 0.2s;
}

.category-list input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.category-item input:checked+span,
.category-item span:hover {
    background-color: #ff5a5f;
    color: #fff;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.price-input {
    position: relative;
    width: 100%;
}

.price-input .yen-mark {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.price-input input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #ff5a5f;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 14px;
    margin-top:50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #e04b51;
}

.error{
    color: #ff5555;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .sell-container {
        max-width: 750px;
        padding: 0 40px;
    }

    .sell-title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .form-section label,
    .form-section h2 {
        font-size: 18px;
    }

    #item_name,
    #brand,
    #description,
    #price,
    #condition {
        font-size: 18px;
        padding: 14px;
    }

    .upload-label {
        padding: 12px 20px;
        font-size: 18px;
    }

    .category-list {
        gap: 14px;
    }

    .category-item span {
        font-size: 17px;
    }
}